/********************* section-one */
.nandhu img {
    height: 100px;
    width: 100px;
    margin-left: 50px;
}

.center {
    text-align: center;
}

.centers {
    margin-left: 470px;
}

/********************* section-five */

.middle {
    text-align: center;
    margin-top: -20px;
}

.ballaladeva {
    box-shadow: 0px 0px 15px rgb(3, 37, 73);
}

.card-header {
    height: 100px;
}







